name: Release Atlantis

on:
  release:
    types: [released]

jobs:
  atlantis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Extract version tag
        id: extract_tag
        run: echo "TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: linux/amd64,linux/arm64
          use: true

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push app
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64 
          push: true
          tags: |
            "aliciousness/atlantis:${{ env.TAG }}"
            "aliciousness/atlantis:latest"
          build-args: |
            VERSION=${{ env.TAG }}
          labels: |
            maintainer="craddock9richard@gmail.com"
            org.opencontainers.image.authors="craddock9richard@gmail.com"


  trigger-badges:
    needs: atlantis
    uses: ./.github/workflows/badges.yml
    permissions:
      contents: write
      id-token: write
    secrets: inherit

